@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Gugi&family=Josefin+Sans&family=Qwigley&family=Ubuntu&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Josefin Sans", "Ubuntu",
    "Qwigley", "Francois One", "Poppins", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Gugi",
    cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
